<main class="h-full pb-16 overflow-y-auto">
   <!-- Remove everything INSIDE this div to a really blank page -->
   <div class="container px-6 mx-auto grid">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"> Dashboard </h2>
      <div class="grid grid-cols md:grid-cols-3 grid-flow-row gap-3">
         <div class="flex flex-col items-center col-span-3">
            <div class="bg-green-200 w-full rounded-t-lg">
               <h3 class="p-2 text-center">Total Engine</h3>
            </div>
            <div class="bg-green-100 w-full rounded-b-lg">
               <h1 class="total_engine text-2xl text-center font-semibold p-4">0 EA</h1>
            </div>
         </div>
         <div class="flex flex-col items-center">
            <div class="bg-green-200 w-full rounded-t-lg">
               <h3 class="p-2 text-center">Unserviceable</h3>
            </div>
            <div class="bg-green-100 w-full rounded-b-lg">
               <h1 class="unserviceable text-2xl text-center font-semibold p-4">0 EA</h1>
            </div>
         </div>
         <div class="flex flex-col items-center">
            <div class="bg-green-200 w-full rounded-t-lg">
               <h3 class="p-2 text-center">Serviceable</h3>
            </div>
            <div class="bg-green-100 w-full rounded-b-lg">
               <h1 class="serviceable text-2xl text-center font-semibold p-4">0 EA</h1>
            </div>
         </div>
         <div class="flex flex-col items-center">
            <div class="bg-green-200 w-full rounded-t-lg">
               <h3 class="p-2 text-center">Work in Progress</h3>
            </div>
            <div class="bg-green-100 w-full rounded-b-lg">
               <h1 class="wip text-2xl text-center font-semibold p-4">0 EA</h1>
            </div>
         </div>
         <div class="flex flex-col items-center col-span-2">
            <div class="bg-green-200 w-full rounded-t-lg">
               <h3 class="p-2 text-center">Transportation Stand</h3>
            </div>
            <div class="bg-green-100 w-full rounded-b-lg">
               <h1 class="transportation_stand text-2xl text-center font-semibold p-4">0 EA</h1>
            </div>
         </div>
         <div class="flex flex-col items-center">
            <div class="bg-green-200 w-full rounded-t-lg">
               <h3 class="p-2 text-center">Recent Preservation</h3>
            </div>
            <div class="bg-green-100 w-full rounded-b-lg">
               <h1 class="preservation text-2xl text-center font-semibold p-4">0 EA</h1>
            </div>
         </div>
      </div>
   </div>
   <!-- Script goes here -->
</main>