<main id="table_list" class="h-full pb-16 overflow-y-auto">
   <div class="container px-6 mx-auto grid">
       <!-- With actions -->
       <div class="flex flex-cols justify-between">
           <h2 class="mt-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
               REPORT
           </h2>
       </div>
       
       </div>
   </div>
</main>